<div class="row-fluid">
	<div class="span12 top-title">
		<h2><b>Development</b> and business <b>Strategy</b></h2>
		<h2>responding to your needs</h2>
	</div>
</div>
<div class="row-fluid featured">
	<div class="span3">
		<img src="{{ ASSET_PATH }}bonfocchi/img/{{ page.img1 }}" alt="laptop">
		<h2 class="redacted">{{ page.title1 }}</h2>
		<p>{{ page.text1 }}</p>
	</div>
	<div class="span3">
		<img src="{{ ASSET_PATH }}bonfocchi/img/{{ page.img2 }}" alt="box">
		<h2 class="redacted">{{ page.title2 }}</h2>
		<p>{{ page.text2 }}</p>
	</div>
	<div class="span3">
		<img src="{{ ASSET_PATH }}bonfocchi/img/{{ page.img3 }}" alt="iDevices">
		<h2 class="redacted">{{ page.title3 }}</h2>
		<p>{{ page.text3 }}</p>
	</div>
	<div class="span3">
		<img src="{{ ASSET_PATH }}bonfocchi/img/{{ page.img4 }}" alt="chalkboard">
		<h2 class="redacted">{{ page.title4 }}</h2>
		<p>{{ page.text4 }}</p>
	</div>
</div>

{{ content }}
